#app {
    display: grid;
    grid-template-columns: 57% 43%;

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 5rem 8rem;

    & .main-container {
        max-width: 35rem;
        margin-left: auto;
    }
}

aside {
    display: flex;
    

    padding: 5rem;

    & .aside-container {
        max-width: 100%;
        margin-left: auto;
    }

    & img {
        display: flex;
        position: absolute;
        right: 397px;
        top: 1px;
    }
}

.event {
    display: flex;
    align-items: center;
    gap: 12px;

    & h3 {
        color: var(--text-body);
        align-items: center;
    }
}

